First I am importing necessary libraries, then importing data and viewing the first few observations for each

In [12]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [13]:
train = pd.read_csv('data/red_wine_train.csv')
train.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,chlorides,total sulfur dioxide,density,sulphates,alcohol,quality,alcohol_higher,va_high
0,345,7.0,0.685,0.00,0.067,63.0,0.99790,0.81,9.90,5,0,1
1,1395,8.6,0.685,0.10,0.092,12.0,0.99745,0.65,9.55,6,0,1
2,997,5.6,0.660,0.00,0.087,11.0,0.99378,0.63,12.80,7,1,1
3,384,7.7,0.510,0.28,0.087,54.0,0.99800,0.74,9.20,5,0,0
4,405,8.7,0.310,0.46,0.059,25.0,0.99660,0.76,10.10,6,0,0

In [14]:
test = pd.read_csv('data/red_wine_test.csv')
test.head()

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,chlorides,total sulfur dioxide,density,sulphates,alcohol,quality,alcohol_higher,va_high
0,440,12.6,0.310,0.72,0.072,29.0,0.99870,0.82,9.8,8,0,0
1,584,11.8,0.330,0.49,0.093,80.0,1.00020,0.76,10.7,7,0,0
2,1478,7.1,0.875,0.05,0.082,14.0,0.99808,0.52,10.2,3,0,1
3,886,9.0,0.800,0.12,0.083,28.0,0.99836,0.65,10.4,6,0,1
4,1400,7.9,0.690,0.21,0.080,141.0,0.99620,0.51,9.9,5,0,1

To decide how to scale each attribute, I am viewing the summary data of each column

In [26]:
train1 = train.drop(['Unnamed: 0','quality'],axis=1) #training df without class column
test1 = test.drop(['Unnamed: 0','quality'],axis=1) #testing df without class column
trainClass = train['quality'] #training df only class column
testClass = test['quality'] #testing df only class column

In [28]:
n_inputs = train1.shape[1]